<div class="mx-auto max-w-md w-full p-6 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

<form [formGroup]="creditCardForm">

  <div class="">

    <div>Credit Card Information</div>

    <div class="cc-types">
      <img class="cc-types__img cc-types__img--amex">
      <img class="cc-types__img cc-types__img--visa">
      <img class="cc-types__img cc-types__img--mastercard">
      <img class="cc-types__img cc-types__img--disc">
      <img class="cc-types__img cc-types__img--generic">
    </div>

    <div class="mb-6">
      <label for="cc-holder-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Name on card
      </label>
      <input
        type="text"
        id="cc-holder-input"
        maxlength="60"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        autocomplete="cc-name"
        x-autocompletetype="cc-name"
        formControlName="creditCardHolder"
        #ccHolderInput
      >
    </div>

    <div class="mb-6">
      <label for="cc-number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Credit card number
      </label>
      <input
        type="text"
        id="cc-number-input"
        maxlength="19"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        autocomplete="cc-number"
        x-autocompletetype="cc-number"
        formControlName="creditCardNumber"
        #ccNumberInput
      >
    </div>

    <div class="mb-6">
      <label for="cc-expiry-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Credit card expiration
      </label>
      <input
        type="text"
        maxlength="5"
        id="cc-expiry-input"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        autocomplete="cc-exp"
        x-autocompletetype="cc-exp"
        placeholder="MM/YY"
        formControlName="creditCardExpiration"
        #ccExpirationInput
      >
    </div>

    <div class="mb-6">
      <label for="cc-cvc-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Credit card expiration
      </label>
      <input
        type="text"
        maxlength="3"
        id="cc-cvc-input"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        autocomplete="cc-csc"
        x-autocompletetype="cc-csc"
        formControlName="creditCardVerification"
        #ccCCVInput
      >
    </div>

    <button
      type="button"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="checkAndApplyForm()"
    >
      Absenden
    </button>
  </div>


</form>
</div>
